<% lists.each do |list| %>
<div class="card-category d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st.depositphotos.com/2097531/2145/i/450/depositphotos_21458013-stock-photo-vintage-theatre-spot-light-on.jpg)">
  <h3><strong><%= link_to "#{list.name}", list_path(list), class: "btn-image-card my-4 rounded-3 btn-center text-decoration-none" %></strong></h3>
</div>
<% end %>
