<div class="movie-list-container">
  <% lists.each do |list| %>

    <div class="movie-list-card">

      <!-- Background image of card -->
      <div class="movie-card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key, height: 400, crop: :fill) : 'https://st.depositphotos.com/2097531/2145/i/450/depositphotos_21458013-stock-photo-vintage-theatre-spot-light-on.jpg' %>')">
        <h3>
          <strong>
            <%= link_to "#{list.name.capitalize}", list_path(list), class: "btn-image-card my-4 rounded-3 btn-center text-decoration-none" %>
          </strong>
        </h3>
      </div>

        <!-- Delete button -->
      <div class="movie-delete-btn">
        <%= link_to list_path(list),
        class: "delete-btn btn-sm",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can fa-xl delete-profile-icons"></i>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
