<div class="container">
  <%= link_to lists_path, class: "back-link" do %>
    <i class="fa-solid fa-angles-left fa-lg back-icon"></i>
  <% end %>
  <h1 class="new-list-title">New list</h1>
  <div class="new-list">
    <%= render "form", list: @list %>
  </div>
</div>
