<h1 class="new-bookmark-title">New bookmark</h1>
<div class="new-bookmark">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="form-group new-bookmark-form-group">
      <%= f.input :comment, label: "Add a Comment", input_html: { class: "new-bookmark-form-control"} %>
    </div>
    <div class="new-bookmark-form-action">
     <button type="submit" class="new-list-btn">
      <i class="fa-solid fa-plus">+</i>
    </button>
    </div>
  <% end %>
</div>
