.card {
  width: 20rem;
}
  .btn-card {
    width: 100%;
    background-color:#f4a261;
    text-decoration: none
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 14px;
}
